bibliography/
*.pdf
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
etherpad-lite/dirty.db.encrypt
etherpad-lite/dirty.db
github/get_user_followers.sh
github/get_watching.sh
github/get_project.sh
github/get_following.sh
github/get_today.sh
github/*.projects.todo
github/*.users.todo
github/output
github/output2
project_ids
userids
github/projects.total
github/users.total
